$action_color: $outrageous-orange;
$_form-background-color: #ffffff;
$_form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$_form-box-shadow-focus: $_form-box-shadow, 0 0 5px rgba($action-color, 0.7);

fieldset{
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}


legend{
  font-weight: 600;
  padding: 0;
}

label{
  display: block;
  margin-bottom: $base-spacing;
}

input,
select,
textarea{
  display: block;
  text-align: left;
  height: 3em;
  padding: $base-spacing / 2;
  width: 100%;
  margin-bottom: $base-spacing;
}

textarea{
  resize: vertical;
}

select{
  &:focus{
    border-color: $action-color;
    box-shadow: $_form-box-shadow-focus;
    outline: none;
  }
}



