<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Raining?</title>
  </head>
  <body>

    <div class="container">
      <div class="row justify-content-center mt-4 mb-4">
        <h1>Raining?</h1>
      </div>

      <div class="row justify-content-center mb-5">
        <form class="form-inline" action="{{ url_for('ui.rain') }}" method="post">
          <div class="form-group mx-sm-1">
            <input class="form-control" type="text" name="uid" id="uid" placeholder="Unique ID">
          </div>
          <button type="submit" class="btn btn-primary">Check</button>
        </form>
      </div>
    </div>

    <div class="row justify-content-center">
      <h6>{{ result }}</h6>
    </div>

  </body>
</html>