<div class="urnicus-header" >
  <div class="urnicus-logo">
    <%= image_tag(asset_pack_path("media/images/urnicus_logo_cropped.svg"), class: "urnicus-logo") %>
  </div>
  <div class="urnicus-title">
    urnicus
  </div>
</div>